@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
}
body {
  padding-top: 68px;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@layer components {
  .section-title {
    @apply text-2xl font-bold my-2 inline;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #f58213 50%);
  }
  .desc-title {
    @apply text-sm text-gray-800 mt-1;
  }
  .bg-orange {
    background-color: #f58213;
  }
  .fixed-custom {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1001;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 15px;
  }
  .loding {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50%;

    margin-left: -21px;
    margin-top: -21px;
    border-radius: 50%;

    border: 4px solid #f58213;
    border-top-color: transparent;
    border-left-color: transparent;

    animation: Rotate 0.8s infinite linear;
    z-index: 100;
  }
  @keyframes Rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
